<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }

  .btn-default {
    padding: 10px 15px;
    border-radius: 25px;
    color: #fff;
    background-color: teal;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que uma troca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, clique no link abaixo para escolher uma nova senha:</p>
  <p align="center"><a class="btn-default" href="{{link}}">Resetar Senha</a></p>
  <p>Se não foi você, então descarte esse email</p>
  <p>Obrigado! <br /><strong>Equipe Garcia</strong></p>
</div>